<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EncryptedMemoriesBuildCommit</key>
	<string>$(ENCRYPTED_MEMORIES_BUILD_COMMIT)</string>
	<key>EncryptedMemoriesProtonChannel</key>
	<string>$(ENCRYPTED_MEMORIES_PROTON_CHANNEL)</string>
</dict>
</plist>
